
  <div class="banner">
    <img src="../../../assets/images/about_page_image.png"  class="d-block w-100 fluid-img">
  </div>
  <div class="container">
    <div class="heading">
      <h1>ABOUT US</h1>
      <span class="border"></span>
    </div>
    <div class="paragraph">
      <p>pratispardha is mainly developed for those people who according to them study is not only
        a way to be successful in life ,  who own the talent to play, pratispardha is a platform
        where young players of the street can show their talent and express themselves And not being
        limited to the street,they can introduce theirself to the whole world, those youngsters who
        are no aware of the fact that their talent can give  a better life and they can earn more
        things than money.</p>
    </div>
    <div class="heading">
      <h1>meet our team</h1>
      <span class="border"></span>
    </div>

    <div class="row justify-content-around">
      <div class="col md-2">
        <div class="card">
          <div class="cardimg">
            <img src="../../../assets/images/shubham.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text" >Shubham bhurghate</p>
          </div>
        </div>
      </div>
      <div class="col md-2" style="margin-top: 50px;">
        <div class="card">
          <div class="cardimg">
            <img src="../../../assets/images/shubham.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Shailendra kushwah</p>
          </div>
        </div>
      </div>
      <div class="col md-2" >
        <div class="card">
          <div class="cardimg">
            <img src="../../../assets/images/shubham.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text" >Lohitashva bhoge</p>
          </div>
        </div>
      </div>
      <div class="col md-2" style="margin-top: 50px;">
        <div class="card">
          <div class="cardimg">
            <img src="../../../assets/images/shubham.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text" >Varsha Sera</p>
          </div>
        </div>
      </div>
      <div class="col md-2">
        <div class="card">
          <div class="cardimg">
            <img src="../../../assets/images/shubham.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Kavita Ahirwar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
