
  <div class="about">
    <div class="banner">
      <img src="../../../assets/images/about_page_image.png"  class="d-block w-100 img-fluid"/>
    </div>
    <div class="container">
      <div class="heading">
        <h1>ABOUT US</h1>
        <span class="border"></span>
      </div>
      <div class="paragraph">
        <p>Pratispardha is mainly developed for those people who according to them study is not only
          a way to be successful in life ,  who own the talent to play, pratispardha is a platform
          where young players of the street can show their talent and express themselves And not being
          limited to the street,they can introduce theirself to the whole world, those youngsters who
          are no aware of the fact that their talent can give  a better life and they can earn more
          things than money.</p>
      </div>
      <div class="heading">
        <h1>meet our team</h1>
        <span class="border"></span>
      </div>
  
      <div class="row justify-content-around team">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 card-content">
          <div class="card">
            <div class="card-img">
              <img src="../../../assets/images/laksh.jpg" class="card-img-top img-fluid" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text" >Lohitashva</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 card-content" >
          <div class="card">
            <div class="card-img">
              <img src="../../../assets/images/varsha.jpg" class="card-img-top img-fluid" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Varsha</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 card-content" >
          <div class="card">
            <div class="card-img">
              <img src="../../../assets/images/shubham.jpg" class="card-img-top img-fluid" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text" >Shubham</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 card-content" >
          <div class="card">
            <div class="card-img">
              <img src="../../../assets/images/kavita.jpg" class="card-img-top img-fluid" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text" >Kavita</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 card-content">
          <div class="card">
            <div class="card-img">
              <img src="../../../assets/images/shailendra.jpg" class="card-img-top img-fluid" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Shailendra</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>