.about{
  padding: 53px 0;
}
.banner{
  height: 450px;
}
.banner img{
  height: 100%;
  object-fit: cover;
}

.heading{
  margin-top: 110px;
  margin-bottom: 70px;
}
.card-content{
  margin-top: 15px;
}
.team{
  margin-top: 110px;
}
.paragraph p{
  text-align: justify;
  font-size: 18px;
  margin-top: 40px;
  line-height: 35px;
  color: black;
}
.card .card-body p{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.card .card-img{
  height: 190px;
  background: #333;
}
.card .card-img img{
  height: 100%;
}

@media only screen and (max-width:567px){
  .banner{
    height: 200px;
    margin-top: 0;
  }
  /* .banner img{
    height: 100%;
    object-fit: cover;
  } */
}