
<div class="container text-center upload">
    <div class="heading">
        <h2>Upload new EVENT</h2>
    </div>
    <div class="event-details">
        <div class="form-group">
            <input type="text" placeholder="Event Name" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Address" class="form-control">
        </div>
        <div class="form-group">
            <input type="number" placeholder="Team limit" class="form-control">
        </div>
        <div class="form-group start-date">
            <input type="date" class="form-control">
        </div>
        <div class="form-group end-date">
            <input type="date" class="form-control">
        </div>
        <div class="form-group apply-date">
            <input type="date" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Fess" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Prize Amount" class="form-control">
        </div>
        <div class="form-group start-date">
            <textarea name="rules" id="rules" cols="30" rows="10" placeholder="Rules" class="form-control"></textarea>
        </div>

        <div class="buttons">
            <a href="#" class="btn btn-outline-danger">Cancel</a>
            <a href="#" class="btn btn-outline-primary">Upload</a>
        </div>
    </div>
</div>