.upload{
    padding:50px 0 0 0;
}
.upload .heading{
    margin-bottom: 50px;
}
.upload .heading h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.upload .event-details{
    max-width: 550px;
    margin: auto;
    padding: 50px 25px;
    box-shadow: 0px 0px 5px rgba(133, 133, 133, 0.348);
}
.upload .event-details .form-group{
    margin: 1.5rem;
}
.upload .event-details .form-group input, .upload .event-details .form-group textarea{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    /* max-width: 50%; */
}
.buttons a{
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem;
}