

<div class="container sub-hero">
   <div class="heading">
       <h1>Your Uploaded Tournaments</h1>
       <span class="border"></span>
   </div>
   <div class="event-title">
    <h2>Live Events</h2>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <span class="underline"></span>
  </div>
   <div class="row evets">
    
       <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 event-card" *ngFor="let Event of live">
        <div class="card card-content" >
          <div class="card-img">
            <img src="{{Event.banner}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="primary-text">
              <h3>Event : <span>{{Event.tournamentName}}</span></h3>
              <span class="read_more">
                read more
              </span>
            </div>
          </div>
          <div class="overlay-box">
            <div class="overlay-content">
              <div class="date">
                
                <h3><i class="fa fa-calendar" aria-hidden="true"></i> Registration date</h3>
                <span>Start: {{Event.tournamentApplyDate | date:'dd-MM-yyyy'}} | End: {{Event.tournamentEndDate | date:'dd-MM-yyyy'}}</span>
              </div>
              <div class="organiser">
                
                <h3><i class="fas fa-user-tie"></i> organiser : <span>{{Event.orgainiserId.name}}</span></h3>
              </div>
              <div class="location">
                
                <h3> <i class="fa fa-location-arrow" aria-hidden="true"></i> Venue : <span>{{Event.tournamentAddress}}</span></h3>
              </div>
            </div>
            <div class="overlay-btn">
              <a (click)="detail(Event._id)" class="read-more-btn">Read More</a>
  
            </div>
          </div>
        </div>
       </div>
   </div>
































   <div class="event-title">
    <h2>Upcomming Events</h2>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <span class="underline"></span>
  </div>
   <div class="row evets">
    
       <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 event-card" *ngFor="let Event of upcoming">
        <div class="card card-content" >
          <div class="card-img">
            <img src="{{Event.banner}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="primary-text">
              <h3>Event : <span>{{Event.tournamentName}}</span></h3>
              <span class="read_more">
                read more
              </span>
            </div>
          </div>
          <div class="overlay-box">
            <div class="overlay-content">
              <div class="date">
                
                <h3><i class="fa fa-calendar" aria-hidden="true"></i> Registration date</h3>
                <span>Start: {{Event.tournamentApplyDate | date:'dd-MM-yyyy'}} | End: {{Event.tournamentEndDate | date:'dd-MM-yyyy'}}</span>
              </div>
              <div class="organiser">
                
                <h3><i class="fas fa-user-tie"></i> organiser : <span>{{Event.orgainiserId.name}}</span></h3>
              </div>
              <div class="location">
                
                <h3> <i class="fa fa-location-arrow" aria-hidden="true"></i> Venue : <span>{{Event.tournamentAddress}}</span></h3>
              </div>
            </div>
            <div class="overlay-btn">
              <a (click)="detail(Event._id)" class="read-more-btn">Read More</a>
            
            </div>
          </div>
        </div>
       </div>
   </div>
















































   <div class="event-title">
    <h2>Ended Events</h2>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <span class="underline"></span>
  </div>
   <div class="row evets">
    
       <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 event-card" *ngFor="let Event of ended">
        <div class="card card-content" >
          <div class="card-img">
            <img src="{{Event.banner}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="primary-text">
              <h3>Event : <span>{{Event.tournamentName}}</span></h3>
              <span class="read_more">
                read more
              </span>
            </div>
          </div>
          <div class="overlay-box">
            <div class="overlay-content">
              <div class="date">
                
                <h3><i class="fa fa-calendar" aria-hidden="true"></i> Registration date</h3>
                <span>Start: {{Event.tournamentApplyDate | date:'dd-MM-yyyy'}} | End: {{Event.tournamentEndDate | date:'dd-MM-yyyy'}}</span>
              </div>
              <div class="organiser">
                
                <h3><i class="fas fa-user-tie"></i> organiser : <span>{{Event.orgainiserId.name}}</span></h3>
              </div>
              <div class="location">
                
                <h3> <i class="fa fa-location-arrow" aria-hidden="true"></i> Venue : <span>{{Event.tournamentAddress}}</span></h3>
              </div>
            </div>
            <div class="overlay-btn">
              <a (click)="detail(Event._id)" class="read-more-btn">Read More</a>
             
            </div>
          </div>
        </div>
       </div>
   </div>
   
</div> 
