<footer class="footer">
    <div class="container">
        <div class="row footer-content">
            <div class="col-md-6 col-lg-3 content_box company">
                <div class="title">
                    <h3>Company</h3>
                </div>
                <div class="links">
                    <ul class="footer-links">
                        <li class="footer-list"><a href="#">About us</a></li>
                        <li class="footer-list"><a href="#">contact us</a></li>
                        <li class="footer-list"><a href="#">terms and condition</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 content_box host_event">
                <div class="title">
                    <h3>Host Event</h3>
                </div>
                <div class="links">
                    <ul class="footer-links">
                        <li class="footer-list"><a href="#">publish your events</a></li>
                        <li class="footer-list"><a href="#">promote your events</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 content_box discover_event">
                <div class="title">
                    <h3>discover event</h3>
                </div>
                <div class="links">
                    <ul class="footer-links">
                        <li class="footer-list"><a href="#">events for you</a></li>
                        <li class="footer-list"><a href="#">virtrual events</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 content_box contact_data">
                <div class="title">
                    <h2>Pratispardha</h2>
                </div>
                <div class="links">
                    <ul class="footer-links">
                        <li class="footer-list"><i class="fas fa-location-arrow    "></i> Forth Flor BCM Heights,indore</li>
                        <li class="footer-list"><i class="fa fa-mobile" aria-hidden="true"></i> +91 8319238671</li>
                        <li class="footer-list"><i class="fas fa-mail-bulk    "></i>pratispardha.22@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-icon">
            <span>Copyright@Pratispardha  All Copyright Reserved</span>
            <div class="icons">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa-brands fa-instagram-square"></i>
            </div>
        </div>
    </div>
    <div class="horizontal-line"></div>
</footer>