.forget{
    margin:150px auto;
    padding: 50px 15px;
    max-width:350px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    position: relative;
 
}
.forget .heading{
    margin: 30px 0;
}
.forget .heading h3{
    font-size: 18px;
    font-weight: 500;
}
 
.forget .password i{
    position: absolute;
    font-size:68px;
    top:-40px;
    left: 50%;
    color: rgb(20,79,133);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.forget .submit-btn{
    width: 100%;
    text-align: center;
 
}
.forget .submit-btn .submit{
    background: var(--blue-radial-gradient);
    display: block;
    padding: 5px 25px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
 
 
.form-group{
    position: relative;
    margin:30px 0;
}
input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    resize: none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  input[type="password"][required]:focus {
    border-color: #00bafa;
  }
  input[type="password"][required]:focus + label[placeholder]:before {
    color: #00bafa;
  }
  input[type="password"][required]:focus + label[placeholder]:before,
  input[type="password"][required]:valid + label[placeholder]:before {
    transition-duration: 0.4s;
    transform: translate(-15px, -20px) scale(0.9, 0.9);
    -webkit-transform: translate(-15px, -20px) scale(0.9, 0.9);
    -moz-transform: translate(-15px, -20px) scale(0.9, 0.9);
    -ms-transform: translate(-15px, -20px) scale(0.9, 0.9);
    -o-transform: translate(-15px, -20px) scale(0.9, 0.9);
    background: #fff;
}
  input[type="password"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  input[type="password"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 25px;
   
  }
  label[placeholder]{
      position: absolute;
      left:15px;
      top: 8px;
  }
  input[type="password"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
 
  /*
.forget .password .form{
    position:relative ;
    margin:30px 0
}
.form .form-control{
    font-size:16px;
    outline:none;
    border:2px solid black;
}
.form .form-label{
    position:absolute;
    top:6px;
    left:15px;
}
input:focus ~ .form-label{
    top:-16px;
} */
/* .forget .password{
    width: 100%;
    margin: 30px 0;
}
 
.forget .password span{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}
.forget .password .form-group{
    margin: 30px 0;
}
.forget .password .form-group input{
margin-top:10px;
}
.forget .password .form-group .form-control:focus{
    box-shadow:none;
   
}*/

